* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    font-family: "Josefin Sans", sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    background: url("images/image_fond.jpg") no-repeat;
    background-size: 100%;
    height: 810px;
}

#search p {
    margin-top: 565px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

ul li {
    color: white;
    list-style: none;
    line-height: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    transition: 0.5s;
}

nav li:hover {
    transform: scale(1.2) translateY(10px);
}

header h1 {
    text-align: center;
    margin-top: 110px;
    font-size: 3em;
    color: white;
}

header strong {
    width: 100%;
    line-height: 100px;
    padding-top: 15px;
    border-top: solid white 5px;
}
