header{
    height: 570px;
}

header h1{
    font-size: 2em;
}

header a{
    font-size: 0.7em;
}

#search{
    display: none;
}

.section1{
    padding: 100px 30px;
}

footer{
    flex-direction: column;
}