.section1 p {
    padding: 26px 34px;
    font-size:0.8em;
}

.search-btn span{
    display: none;
}

.search-btn i{
    display: block;
}

.search-btn {
    width: 45px;
}

header .logo{
    width: 300px;
    margin-left: -147px;
    margin-top: -60px;
}

header{
    height: 400px;
}

.sectionflex, li button{
    font-size: 0.7em;
}

section h4{
    font-size: 1.1em;
}

.height:hover{
    height: 500px;
}
